<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi-path stories Web application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Multi-path stories Web application</h1>
    </header>

    <main>
        <a href="/">Back to start</a>
        <table>
            <tr>
                <td></td>
                <td>
                    {% if top_story_id %}
                    <a href="/story/{{ top_story_id }}">{{ top_sentence }}</a>
                    {% else%}
                    <form action="/new_story" method="POST">
                        <input type="hidden" name="position" value="top">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <textarea name="new_sentence"></textarea>
                        <div><input type="submit"></div>
                    </form>
                    {% endif %}
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    {% if left_story_id %}
                        <a href="/story/{{ left_story_id }}">{{ left_sentence }}</a>
                    {% else%}
                    <form action="/new_story" method="POST">
                        <input type="hidden" name="position" value="left">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <textarea name="new_sentence"></textarea>
                        <div><input type="submit"></div>
                    </form>
                    {% endif %}
                </td>
                <td>{{ main_sentence }}</td>
                <td>
                        {% if right_story_id %}
                        <a href="/story/{{ right_story_id }}">{{ right_sentence }}</a>
                    {% else%}
                    <form action="/new_story" method="POST">
                    <input type="hidden" name="position" value="right">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <textarea name="new_sentence"></textarea>
                        <div><input type="submit"></div>
                    </form>
                    {% endif %}
                </td>
             </tr>

            <tr>
                <td></td>
                 <td>
                         {% if bottom_story_id %}
                        <a href="/story/{{ bottom_story_id }}">{{ bottom_sentence }}</a>
                    {% else%}
                    <form action="/new_story" method="POST">
                     <input type="hidden" name="position" value="bottom">
                        <input type ="hidden" name="current_story_id" value="{{ current_story_id }}">
                        <textarea name="new_sentence"></textarea>
                        <div><input type="submit"></div>
                    </form>
                     {% endif %}
                 </td>
                 <td></td>
             </tr>

         </table>
    </main>
    <footer>
        <p>by Anna Vu</p>
    </footer>

</body>
</html>